.seongsuPopUp {
  margin-bottom: 120px;

  .title {
    color: #222;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }

  .bannerWrapper {
    display: flex;
    height: 500px;
    background-color: #000;

    .contentWrapper {
      flex: 1 auto;
    }

    .popupImage {
      flex: 1 auto;
    }
  }
}
