@keyframes openModal {
  0% {
    height: 0;
  }
  100% {
    height: 600px;
  }
}

.filterModal {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 600px;
  background-color: #fff;
  z-index: 3;
  animation: openModal 0.5s ease;
  overflow: hidden;

  .filterNavigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

    .filterTypeWrapper {
      position: relative;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;

        .dotText {
          transform: scale(1);
        }

        .typeText {
          transform: translateX(28px);
        }
      }

      .dotText {
        position: absolute;
        font-size: 40px;
        font-weight: 900;
        transform: scale(0);
        transition: 0.5s;
        &.clicked {
          color: #0472ff;
          transform: scale(1);
        }
      }

      .typeText {
        font-size: 38px;
        font-weight: 900;
        font-style: italic;
        transition: 0.5s;
        &.clicked {
          color: #0472ff;
          transform: translateX(28px);
        }
      }
    }
  }
}
