.custom-chip {
  display: inline-block;
  padding: 1px 5px;
  font-size: 12px;
  margin: 0px 3px 3px 0px;

  width: auto;
  background-color: rgb(238, 238, 241);
  border-radius: 6px;
  border: 1px solid rgb(210, 210, 217);
}
