// variables
$size: 100px !default;
$thickness: 6px !default;
$base-color: #fff !default;
$wheel-color: #0472ff !default;
$speed: 1500ms !default;

.waitingModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .loading-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 115%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        .loading-spinner {
            margin: 5% auto;
            height: $size;
            width: $size;
            border: $thickness solid $base-color;
            border: {
                right-color: $wheel-color;
                top-color: $wheel-color;
                radius: 100%;
            }
            animation: spin $speed infinite linear;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
    .waitingContent {
        z-index: 3;
        position: fixed;
        width: 45%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        border-radius: 5px;
        background: #fff;
        max-height: 90vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        h2 {
            display: block;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .waitingInput {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                display: block;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            input {
                display: block;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid #999;
                margin-bottom: 15px;
            }
            select {
                display: block;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid #999;
                margin-bottom: 15px;
            }
        }
        .reviewCompleteBtn {
            border: 0;
            background: #0472ff;
            text-align: center;
            padding: 15px 0;
            width: 100%;
            font-size: 17px;
            border: 1px solid #fff;
            border-radius: 10px;
            margin-top: 15px;
            cursor: pointer;
            transition: 0.3s ease all;
            color: #fff;
            &:hover {
                background: #fff;
                color: #0472ff;
                border-color: #0472ff;
            }
        }
        .reviewCloseBtn {
            position: absolute;
            top: 10px;
            right: 15px;
            background: inherit;
            border: 0;
            font-weight: bold;
            font-size: 24px;
            cursor: pointer;
        }
    }
}

@media (max-width: 767px) {
    .waitingModal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 2;
        }
        .waitingContent {
            z-index: 3;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            transform: translate(-0%, -0%);
            padding: 100px 15px 15px 15px;
            border-radius: 0;
            background: #fff;
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            h2 {
                display: block;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 30px;
            }
            .reservationInput {
                p {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 5px;
                    margin-bottom: 15px;
                }
                input {
                    display: block;
                    padding: 10px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border: 1px solid #999;
                    margin-bottom: 15px;
                }
                select {
                    display: block;
                    padding: 10px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border: 1px solid #999;
                    margin-bottom: 15px;
                }
            }
            .reviewCompleteBtn {
                border: 0;
                background: #0472ff;
                text-align: center;
                padding: 150x 0;
                width: 100%;
                font-size: 14px;
                border-radius: 10px;
                margin-top: 15px;
                cursor: pointer;
                color: #fff;
                border: 1px solid #0472ff;
            }
            .reviewCloseBtn {
                position: absolute;
                top: 10px;
                right: 15px;
                background: inherit;
                border: 0;
                font-weight: bold;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
}
