@mixin btnStyle {
  flex: 1 auto;
  padding: 12px 0;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }
}

.applyFilter {
  flex-basis: 460px;
  flex-shrink: 0;
  padding: 30px;
  border-left: 1px solid #000;
  overflow-y: scroll;

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .title {
      font-size: 26px;
      font-weight: 700;
    }
    .closeBtn {
      color: #000;
      font-size: 38px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .applyFilterWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .filterWrapper {
      .filerTitle {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 14px;
      }

      .applyList {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .applyItemWrapper {
          display: flex;
          align-items: center;
          gap: 6px;
          padding: 4px 14px;
          border: 1px solid #000;
          border-radius: 50px;

          .applyItem {
            font-size: 12px;
          }

          .removeBtn {
            font-size: 12px;
            font-weight: 900;
            color: #fc0320;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .periodWrapper {
      .periodTitle {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 14px;
      }
      .period {
      }
    }
    .filteringCount {
      padding: 16px 0;
      border-radius: 12px;
      background-color: #0472ff;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    .btnWrapper {
      justify-content: center;

      .resetBtn {
        @include btnStyle;
      }
      .applyBtn {
        @include btnStyle;
      }
    }
  }
}
