@mixin authBtn {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 80px;
  margin-top: 16px;
  padding: 0 50px;

  .logo {
    width: 160px;
  }

  .searchBarWrapper {
    display: flex;
    align-items: center;
    flex-basis: 600px;
    gap: 10px;
    height: 48px;
    padding: 0px 20px;
    border-radius: 14px;
    background-color: #e8e8e8;

    label {
      border: none;
      background-color: transparent;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }

    input {
      flex: 1 auto;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .icon {
      color: #717171;
      font-size: 18px;
    }
  }

  .btnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 26px;

    .signUpBtn {
      @include authBtn;
    }

    .loginBtn {
      @include authBtn;
    }

    .filterBtn {
      display: flex;
      align-items: center;
      width: 80px;
      height: 80px;
      padding: 0 18px;
      border: 2px solid #000;
      border-radius: 50%;
      background-color: #000;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #000;
      }
    }
  }
}
