@keyframes openModalBackGround {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.searchBarContainer {
  flex-basis: 540px;

  .blackBackGround {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: openModalBackGround 0.5s ease;
  }

  .searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 0px 20px;
    border-radius: 12px;
    background-color: #e8e8e8;
    transition: 0.5s;

    &.active {
      background-color: #000;
    }

    label {
      border: none;
      background-color: transparent;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }

    input {
      display: block;
      height: 100%;
      flex: 1 auto;
      border: none;
      background-color: transparent;
      outline: none;
      color: #ababab;
      font-size: 16px;
      letter-spacing: 1px;

      &:hover {
        cursor: pointer;
      }

      &::placeholder {
        color: #ababab;
        font-size: 12px;
      }
    }

    .icon {
      color: #ababab;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .searchBarContainer {
    .searchBar {
      display: none;
    }
  }
}
