@import "../../../../adminStyles/adminStyles.scss";
@import "../../main.scss";

.main__layout {
  padding: 0px 50px;
}

.list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action__menu {
  padding: 10px 8px;

  button {
    @include admin-button-base-style(#0095ff, white);
    &:hover {
      background: (0, 0, 0, 0.8);
      transform: scale(1.05);
    }
  }
}

.list__container {
  width: 100%;
  padding: 7px 0px;
  background-color: $admin-card-background;
  border-radius: $admin-border-radius;
  box-shadow: $admin-box-shadow;
}

table.list-table {
  width: 100%;
  border-radius: $admin-border-radius;
  border-collapse: collapse;

  thead {
    background: rgba(230, 227, 227, 0.647);
  }

  th,
  td {
    padding: 10px 5px;
    font-size: 14px;
  }

  th {
    font-weight: map-get($admin-font-weights, "bold");
    border-bottom: 1px rgb(201, 199, 199) solid;
  }

  .table-row {
    &:hover {
      color: rgb(0, 0, 0);
      background-color: #e4f3fd67;
      cursor: pointer;
    }
  }

  td {
    border-top: 1px rgb(201, 199, 199) solid;
    font-weight: map-get($admin-font-weights, "light");
    text-align: center;
  }
}
