/* components/Sidebar.module.scss */
.sidebar {
  background: #000;
  color: white;
  padding: 1rem;
  width: 200px;
  height: 100vh;
  flex-shrink: 0;

  .logo {
    width: 160px;
    margin-top: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 32px;

    li a {
      color: #bdbdbd;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      margin-bottom: 8px;

      &:hover {
        color: #fff;
      }
    }
    .active {
      color: #fff; // 활성화된 링크의 텍스트 색상
      font-weight: bold; // 텍스트를 굵게
    }
  }
}
