@import "../../../../adminStyles/adminStyles.scss";
@import "../../main.scss";

.search__container {
  padding: 10px 10px 30px 10px;
  width: 100%;

  input,
  select,
  button {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px rgb(216, 213, 213) solid;
    height: 30px;
    font-size: 12px;
  }
}

.search__main-search-container {
  display: flex;
  align-items: center;
  gap: 10px;

  .reset-button {
    @include admin-search-button-style;
    margin-left: auto;
    min-width: 55px;
  }

  .show-date-button {
    @include admin-search-button-style;
    min-width: 70px;
  }
}

.search-input-container {
  position: relative;
  width: 60%;

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }

  .search-input {
    padding-left: 30px;
    width: 100%;
  }
}

.date-selector-container {
  font-size: 12px;
  margin-top: 10px;

  input {
    margin: 0px 10px;
    width: 20%;
  }
}
