.reservationContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;

  .reservationBox {
    height: 128px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-bottom: 0; // 마지막 요소의 하단 여백 제거
    }

    .reservationDetails {
      margin-bottom: 5px;

      span {
        margin-right: 10px;
        background: #f0f0f0;
        border-radius: 2px;
        padding: 8px 12px;
        color: #333;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
