.reservationContainer {
  display: flex;
  flex-direction: column;
  margin: 24px 48px;
  padding: 10px;

  .reservationBox {
    padding: 32px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-bottom: 0; // 마지막 요소의 하단 여백 제거
    }

    .reservationDetails {
      margin-bottom: 5px;

      span {
        margin-right: 10px;
        background: #f0f0f0;
        border-radius: 2px;
        padding: 8px 12px;
        color: #333;
        &:last-child {
          margin-right: 0;
        }
      }
      .buttonContainer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
      }
      .reservationTime {
        margin-top: 20px;
        font-size: 14px;
      }
      button {
        background: #fff;
        color: #333;
        border: 1px solid #222;
        padding: 6px 8px;
        border-radius: 4px;
      }
    }
  }
}
