.reservationContainer {
  padding: 40px 160px;

  .reservationBox {
    padding: 36px 64px;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.15));
    backdrop-filter: blur(6px);

    .reservationDetails {
      margin-bottom: 5px;

      span {
        margin-right: 10px;
        background: #f5f5f5;
        border-radius: 8px;
        padding: 8px 12px;
        color: #666;
      }
      .buttonContainer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        .icon {
          font-size: 12px;
          color: #222;
          padding-right: 4px;
        }
      }
      .reservationTime {
        margin-top: 20px;
        font-size: 14px;
      }
      button {
        background: #fff;
        color: #333;
        border: 1px solid #222;
        padding: 6px 8px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
