@import "../../styles/adminStyles.scss";

.container {
  flex-direction: column;
  display: flex;
  height: 100vh;

  .main {
    display: flex;
    width: 100%;
    background-color: $admin-background-color;
    flex: 1;
  }

  .content {
    flex: 1;
  }
}
