.menuMyPageHomeContainer {
  display: flex;
}

.myPageHomeContainer {
  flex: column;
  margin-left: 50px;
}

.waitingReviewContainer {
  display: flex;
}

.waitingContainer {
  background-color: white;
  width: 500px;
  height: 600px;
  padding: 20px 20px 20px;
  border: 1px solid black;
  margin-right: 50px;
}

.popUpStoreName {
  background-color: #f9f7f7;
  padding: 30px 10px;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.waitingTimeContainer {
  background-color: #f9f7f7;
  padding: 20px 10px;
  border-radius: 15px;
  display: flex;
}

.waitingTeamText {
  font-size: 25px;
  margin: 10px 10px 30px 10px;
}

.waitingTimeText {
  font-size: 30px;
  margin: 10px 10px 30px 10px;
}

.waitingInfoWrapper {
  text-align: center;
  margin: 10px;
}

.waitingNumWrapper {
  text-align: center;
  margin: 10px;
}

.waitingInfoButton {
  background-color: #f9f7f7;
  margin: 20px 50px;
  border-radius: 3px;
}

.waitingButtonText {
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.dividerLine {
  background-color: #dbd7d7;
  padding: 1px 0;
}

.waitingInfoFooter {
  font-size: 15px;
  margin: 20px;
}

.myPageReviewContainer {
  background-color: white;
  width: 500px;
  height: 600px;
  padding: 20px 20px 20px;
  border: 1px solid black;
}

.myPageReviewTitle {
  font-size: 15px;
}

.reviewTitle {
  text-align: center;
}

.favPopUpStore {
  background-color: white;
  width: 1050px;
  height: 600px;
  padding: 20px 20px 20px;
  border: 1px solid black;
  margin-top: 50px;
}

.favPopUpStoreTitle {
  text-align: center;
}
