@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home {
  .video {
    height: 540px;
    background-color: #000;
    margin-bottom: 120px;
  }
  .popUpBtn {
    position: fixed;
    left: 50px;
    bottom: 40px;
    width: 110px;
    animation: rotate 10s linear infinite;
    &:hover {
      cursor: pointer;
    }
  }
}
