@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home {
  .mainBannerWrapper {
    position: relative;
    background-color: #000;
    height: 540px;
    margin-bottom: 120px;
    overflow: hidden;

    .titleWrapper {
      position: absolute;
      left: 140px;
      bottom: 140px;

      .mainBannerTitle {
        color: #fff;
        font-size: 44px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .mainBannerSubTitle {
        color: #fff;
        font-size: 44px;
        font-weight: 600;
        span {
          color: #0472ff;
        }
      }
    }

    .mainBanner {
      width: 80%;
      transform: translate(50%, 10%);
    }
  }
  .popUpBtn {
    position: fixed;
    left: 50px;
    bottom: 40px;
    width: 110px;
    animation: rotate 10s linear infinite;
    &:hover {
      cursor: pointer;
    }
  }
}
