.pagination__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    border: none;
    border-radius: 10px;
    text-align: center;
    background: none;
    cursor: pointer;

    &.active {
      font-weight: 600;
      background:rgba(0, 149, 255, 0.2);
    }

    &:hover {
      background: rgba(0, 149, 255, 0.5);
    }
  }

  .arrow-icon {
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
    
    &:hover {
      background: rgba(0, 149, 255, 0.3);
    }
  }
}
