.popupList {
  .popupListBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin-bottom: 90px;

    .blackBackground {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .popupListTitle {
      position: relative;
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
    }
  }

  .searchResult {
    margin-bottom: 30px;
    padding: 50px;
    font-size: 30px;
  }

  .filterResult {
    margin-bottom: 30px;
    padding: 50px;
    font-size: 30px;
  }

  .btnWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 88%;
    margin: 0 auto 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #929292;

    .filterBtnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 18px;
      border: 2px solid #222;
      border-radius: 10px;
      background-color: #000;
      color: #fff;
      font-weight: 600;
      transition: 0.4s;
      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #000;
      }

      .filterIcon {
        font-size: 14px;
      }

      .filterText {
        font-size: 14px;
        font-weight: 600;
      }
    }

    .sortBtn {
      padding: 0 6px;
      border-radius: 10px;
      font-size: 14px;
      text-align: center;
    }
  }

  .notice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #929292;
    font-size: 20px;
  }

  .popupListWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
    margin-bottom: 100px;
  }

  .pageNumberWrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 80px;

    .pageNumber {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 16px;
      border-radius: 10px;
      background-color: #e8e8e8;
      font-size: 16px;
      transition: 0.4s;
      &.clicked {
        background-color: #0472ff;
        color: #fff;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .popupList {
    .popupListBanner {
      .popupListTitle {
        font-size: 30px;
      }
    }

    .searchResult {
      margin-bottom: 30px;
      font-size: 18px;
    }

    .filterResult {
      margin-bottom: 30px;
      font-size: 18px;
    }
  }
}
