@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);

@mixin flex($a, $b) {
    display: flex;
    align-items: $a;
    justify-content: $b;
}

@mixin nflex {
    display: flex;
    align-items: normal;
    justify-content: normal;
}

.List {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    display: block;
    padding: 100px 0;
    margin: 0 auto;
    .list {
        @include flex(center, space-between);
        flex-wrap: wrap;
        .listItem.closeListItem {
            .itemImg {
                position: relative;
            }
            .itemImg::before {
                @include flex(center, center);
                content: "CLOSED";
                // color: #fff;
                color: #e21680;
                font-size: 24px;
                font-weight: 600;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 15px;
            }
        }
        .listItem {
            width: 45%;
            @include flex(flex-start, space-between);
            height: 25vh;
            margin-bottom: 35px;
            .itemImg {
                @include flex(center, center);
                width: 40%;
                color: #fff;
                text-align: center;
                font-size: 24px;
                border-radius: 15px;
                background: #999;
                height: 100%;
            }
            .itemInfo {
                width: 55%;
                position: relative;
                display: block;
                height: 100%;
                .itemTitle {
                    h1 {
                        display: block;
                        font-size: 17px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 90%;
                    }
                }
                .itemLocation {
                    @include nflex;
                    .icon {
                        margin-right: 5px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                .itemDate {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 14px;
                    font-weight: 400;
                }
                .itemFavorite {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .itemFavorite input {
                    position: fixed;
                    left: -9999px;
                }
                .itemFavorite input + label::before {
                    display: block;
                    content: "\f004";
                    font-family: "Font Awesome 5 Free";
                    font-weight: normal;
                    font-size: 22px;
                    cursor: pointer;
                }
                .itemFavorite input:checked + label::before {
                    display: block;
                    content: "\f004";
                    font-family: "Font Awesome 5 Free";
                    font-weight: bold;
                    font-size: 22px;
                    color: #e21680;
                }
            }
        }
    }
}
