@import "../../../../styles/adminStyles.scss";
@import "../../main.scss";

.main-content__layout {
  padding: 0px 50px;
  max-width: 90%;
  flex: 1 1;
  box-sizing: border-box;
}

.main-content__container {
  max-width: 700px;
  margin: 0 auto;
}

.form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action__menu {
  padding: 10px 8px;

  .delete-button {
    @include admin-button-base-style;
    color: white;
    background-color: map-get($admin-button-colors, warningLight);

    &:hover {
      color: rgb(251, 251, 251);
      background-color: map-get($admin-button-colors, warningDark);
    }
  }
}

.form__container {
  font-size: 14px;
  padding-bottom: 50px;
}

.form__text-section,
.form__media-section {
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: $admin-card-background;

  border-radius: $admin-border-radius;
  box-shadow: $admin-box-shadow;
}

.form__text-section {
  label {
    display: block;
    padding-bottom: 5px;
  }
  input {
    width: 100%;
    height: 30px;
    padding: 4px 8px;
    margin-bottom: 8px;

    border-radius: 6px;
    border: 1px grey solid;
    font-weight: map-get($admin-font-weights, light);
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 4px 6px;
    margin-bottom: 8px;

    border-radius: 6px;
    resize: none;
    font-weight: map-get($admin-font-weights, light);
  }

  .category-selectbox__div {
    margin: 8px 0px 10px 0px;
  }

  .category-selectbox {
    width: 150px;
    height: 26px;
    padding-left: 8px;

    margin-left: 10px;
    padding-left: 10px;
    border-radius: 6px;
  }
}

.form__media-section {
  .section-title {
    padding-bottom: 10px;
  }
}
