.form__header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action__menu {
  padding: 10px 0px;
  width: 130px;
  margin-left: auto;

  .delete-button {
    padding: 5px 15px;
    color: white;
    background-color: #df3220;
    border: none;
    border-radius: 6px;
    box-shadow:
      rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    &:hover {
      color: rgb(251, 251, 251);
      background-color: #b6291a;
    }
  }
}

.form__container {
  font-size: 14px;
  padding-bottom: 50px;
}

.form__text-section {
  width: 70%;
  padding: 20px 20px;
  margin-bottom: 20px;

  background-color: rgb(255, 251, 251);
  border-radius: 7px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.form__media-section {
  width: 70%;
  padding: 10px 10px;
  margin-bottom: 20px;
  background-color: rgb(245, 242, 242);
  border-radius: 7px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

form label {
  display: block;
  padding-bottom: 5px;
}

form input {
  width: 100%;
  height: 30px;
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px grey solid;
}

form div {
  padding: 5px;
}

.section-title {
  padding: 10px 0px;
}

.form-description {
  height: 100px;
  text-align: start;
  vertical-align: top;
}
