.menuContainer {
  background-color: black;
  width: 200px;
  padding-top: 50px;
  padding-bottom: 50px;

  a {
    color: white;
    font-size: 17px;
    margin: 50px;
    display: flex;
    text-decoration-line: none;
  }
}
