@mixin arrow {
  font-size: 40px;
  color: #222;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.recommendation {
  padding: 0 50px;

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;

    .title {
      font-size: 30px;
      font-weight: 600;
    }

    .btnWrapper {
      display: flex;
      gap: 16px;

      .leftArrowIcon {
        @include arrow;
      }

      .rightArrowIcon {
        @include arrow;
      }
    }
  }

  .popUpListWrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    overflow: hidden;

    .popUpWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .popUpMark {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #0472ff;
        font-size: 12px;
        font-weight: 700;
        font-style: italic;
        color: #fff;
        text-align: center;
      }

      .popUpImg {
        width: 200px;
        height: 200px;
        border-radius: 12px;
        background-image: url("https://user-images.githubusercontent.com/126956430/283044460-29d638e3-b93a-49aa-bdc6-addbbdfacffc.png");
        background-position: center;
        background-size: cover;
      }

      .brand {
        font-size: 16px;
        font-weight: 800;
        color: #222;
      }

      .popUpTitle {
        font-size: 14px;
        font-weight: 500;
        color: #222;
      }

      .locationWrapper {
        display: flex;
        gap: 6px;

        .locationIcon {
          font-size: 16px;
          color: #0472ff;
        }

        .locationText {
          font-size: 13px;
        }
      }

      .dateWrapper {
        display: flex;
        align-items: center;
        gap: 6px;

        .dateIcon {
          font-size: 16px;
          color: #0472ff;
        }

        .dateText {
          font-size: 13px;
        }
      }
    }
  }
}
