@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/NotoSansKR-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/NotoSansKR-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/NotoSansKR-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/NotoSansKR-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/NotoSansKR-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/NotoSansKR-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/NotoSansKR-Black.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
