@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin authBtn {
  color: #222;
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    font-weight: 600;
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 80px;
  padding: 0 50px;
  margin: 10px 0;
  background-color: #fff;
  z-index: 1;

  .logo {
    width: 200px;
    margin-right: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  .searchBarWrapper {
    flex-basis: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 0px 20px;
    border-radius: 50px;
    background-color: #e8e8e8;
    transition: 0.5s;
    &.focused {
      background-color: #323232;
    }

    label {
      border: none;
      background-color: transparent;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }

    input {
      display: block;
      height: 100%;
      flex: 1 auto;
      border: none;
      background-color: transparent;
      outline: none;
      color: #ababab;
      font-size: 16px;
      letter-spacing: 1px;

      &:hover {
        cursor: pointer;
      }

      &::placeholder {
        color: #ababab;
        font-size: 12px;
      }
    }

    .icon {
      color: #ababab;
      font-size: 18px;
    }
  }

  .btnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 26px;

    .loginBtn {
      @include authBtn;
    }

    .signUpBtn {
      @include authBtn;
    }

    .findBtnWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 48px;
      padding: 0 20px;
      border: 2px solid #000;
      border-radius: 12px;
      background-color: #000;
      transition: 0.5s;

      .icon {
        color: #fff;
        font-size: 16px;
      }

      .text {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 2px;
      }

      &:hover {
        cursor: pointer;
        background-color: #fff;
        .icon {
          color: #000;
        }
        .text {
          color: #000;
        }
      }
    }
  }
}
